@font-face {
  font-family: dingTalk;
  src: url('DingTalk\ JinBuTi.ttf') format('truetype');
}
@font-face {
  font-family: alimamaShuHei;
  src: url('AlimamaShuHeiTi-Bold.ttf') format('truetype');
}
@font-face {
  font-family: alibabaPuHui;
  src: url('AlibabaPuHuiTi-2-55-Regular.ttf') format('truetype');
}
