.ProductServiceMenu {
  height: 0;
  background-color: beige;
  transition: height 0.6s ease-in-out;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
}
.ProductServiceMenu.show {
  height: 400px;
}
